<div class="toolbar">
  <h1> Paul Swan</h1>
<div>
  <button href="./update-page.component.html" class="button-group" >About</button>
  <button class="button-group">Contact</button>
  <button class ="button-group">Other Work</button>
</div>
  <div class="dropdown">
    <button class="dropbtn">Minecraft
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Projects</h2>
      </div>
      <div class="row">
        <div class="column">
          <h3>Talem City Map</h3>
          <a href="#">Downloads</a>
          <a href="#">Pictures</a>
          <a href="#">About</a>
          <a href="#">Changelog</a>
          <a href="#">Join Us!</a>
          <a href="#">Donate</a>
        </div>
        <div class="column">
          <h3> Build the Earth </h3>
          <a href="#">Downloads</a>
          <a href="#">Info</a>
        </div>
        <div class="column">
          <h3>Paul's BuilderPack</h3>
          <a href="#">Vanilla Tools Edition</a>
          <a href="#">Modded Edition</a>
          <a href="#">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>
